.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 4em 0 2em 0
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 2em
}

.input-field{
  width: 60%
}

.table-style{
  width: 100%
}

.delete-btn {
  color: red
}

.view-btn {
  color: #1890ff
}
