.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 4em 0 2em 0;
  padding: 0 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-bottom: 2em;
  margin-top: 4em;
}

.input-holder span{
  display: flex;
  width: inherit;
}

.input-field{
  width: 60%
}

.table-style{
  width: 100%
}

.delete-btn {
  color: red
}

.view-btn {
  color: #1890ff
}

.message-alert{
  margin: 0 auto;
  width: 50%;
}

.login-form, .register-form{
  display: flex;
  flex-direction: column; 
  align-items:center;
  justify-content : center; 
  width:50%; 
  margin:0 auto;
}

.signout-button{
  position: absolute;
  top:2em; 
  right:1em
}

@media screen and (max-width: 500px) {
  .input-holder{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 4em;
  }

  .input-holder span{
    display: flex;
  }

  .input-field{
    width: 80%;
  }  

  .signout-button{
    position: absolute;
    top:1em; 
    right: .5em
  }

  .message-alert{
    margin: 0 auto;
    width: 70%;
  }

  .login-form, .register-form{
    display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content : center; 
    width:  100%; 
    margin:0 auto;
  }  
  
}
